{% extends 'idu_app/basic.html' %}
{% load static %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'idu_app/home.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Welcome</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html> -->
{% block title %}Indira Delhi Unitversity{% endblock %}
{% block css %}
{% endblock %}

{% block body %}
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Student Details</a></p>
      <p><a href="results/">Results</a></p>
      <p><a href="#">Link</a></p>
    </div>
    
    <div class="col-sm-8 text-left">
      <h2>WELCOME TO INDIRA DELHI UNIVERSITY</h2>

      <p>The Indira Delhi University (IDU), established by an Act of Parliament in 1990, has continuously striven to
        build an inclusive knowledge society through inclusive education. It has tried to increase the Gross Enrollment
        Ratio (GER) by offering high-quality teaching through the Open and Distance Learning (ODL) mode.</p>
      <p>The University began by offering two academic programmes in 1990, i.e., Diploma in Management and Diploma in
        Distance Education, with a strength of 3,200 students.</p>
      <p>Today, it serves the educational aspirations of over 3 million students in India and other countries through 21
        Schools of Studies and a network of 50 regional centres, around 2,500 learner support centres and 12 overseas
        partner institutions. The University offers about 200 certificate, diploma, degree and doctoral programmes, with
        a strength of nearly 1000 faculty members and 233 academic staff at the headquarters and regional centres and
        about 23,212 academic counsellors from conventional institutions of higher learning, professional organisations,
        and industry among others.</p>
      <hr>
      <h3>Objectives</h3>
      <ul>
        <li>
          <p>Provide access to higher education to all segments of the society.</p>
        <li>
          <p>Offer high-quality, innovative and need-based programmes at different levels, to all those who require
            them.</p>
        <li>
          <p>Reach out to the disadvantaged by offering programmes in all parts of the country at affordable costs.</p>
        <li>
          <p>Promote, coordinate and regulate the standards of education offered through open and distance learning in
            the country.</p>
      </ul>
      <hr>
      <img src="{% static 'idu_app/main.jpg' %}" style="width: 1320px;">
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}



